<!--The content below is only a placeholder and can be replaced.-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h1>
              Posts
           </h1>
        <ul class="list-group">
        
         <app-list-post  *ngFor="let post of Posts"
                         [postTitle]="post.title"
                         [postContent]="post.content"
                         [postLoveIts] ="post.loveIts"
                         [postCreated_at]="post.created_at">
         </app-list-post>
       </ul>
      </div>
    </div>
  </div>
  